.project-card-view {
  width: 300px;
  min-width: 300px;
  height: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  padding-bottom: 1rem;
  transition: transform 0.3s ease;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-view:hover {
  transform: scale(1.02);
}

.card-image {
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
  color: #333 !important;
}

.card-description {
  font-size: 0.9rem;
  color: #626466;
  text-align: start;
  margin-top: 0.5rem;
  line-height: 1.5;
  min-height: 72px;
}

.tools-overlay {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  gap: 0.5rem;
  z-index: 2;
}

.tool-icon {
  width: 32px;
  height: 32px;
  background-color: #8d8d8d80;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border-radius: 50%;
}

/* Specific tool icons */
.tool-icon.react {
  background-image: url("../assets/react.png"); /* update with actual path */
}
.tool-icon.tailwind {
  background-image: url("../assets/tailwind.png");
}
.tool-icon.next {
  background-image: url("../assets/next.png");
}
